h1 {
  text-align: center;
}

table {
  text-align: center;
  border-spacing: 50px;
}

h2 {
  text-align: center;
}

td {
  padding: 80px 80px 80px 80px;
  border: 1px solid black;
}

tr {
}

body {
  background-color: #4db6ac;
}
